.parent{
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 30px;
    /* justify-content: start; */
    justify-content: space-around;
    /* justify-content:space-between; */
    /* justify-content::space-evenly; */

    height: 350px;
    align-items: center;
    flex-direction: row;
}

.child{
    border: 2px solid red;
    background: gray;
    padding: 20PX;
    font-size: 18px;
    margin: 10px 0;
    color: rgb(18, 21, 177);
    /* display: inline; */
}