.nav_option > li {
  display: inline;
  margin-right: 20px;
}

.nav_option > li > a {
  text-decoration: none;
}

footer{
    text-align: center;
    margin-top: 30px;
    background-color: gray;
    padding: 20px 0px;
}

figcaption{
    text-align: center;
    text-decoration: underline;
}